*.pyc
.DS_Store
_build
.*.sw[po]
*.egg-info
dist
build
venv

.idea/workspace.xml

.idea/vcs.xml

.idea/scopes/scope_settings.xml

.idea/modules.xml

.idea/misc.xml

.idea/encodings.xml

.idea/django-oauth2-provider.iml

.idea/.name
